In [1]:
a = 10

In [2]:
type(a)

int

In [3]:
# This is boring output

In [4]:
42 > 100

False

In [5]:
txt = "Elon University"
print(txt)

Elon University

In [13]:
txt.lower()

'elon university'

In [14]:
txt.count("e")
txt.count("E")

1

In [17]:
txt = txt.capitalize()
txt

'Elon university'

In [18]:
my_list = [1,2,"hi","Elon"]

In [19]:
my_list

[1, 2, 'hi', 'Elon']

In [25]:
i = 7

if i >= 0: 
    print( "i is smaller")
else:
    print(  "i is large")

i is smaller